.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  
  &__title {
    @include font-h2($color-second);
  }
  
  &__promo {
    @include font($color-second, 18px);
    
    margin: 10px 0 20px;
  }
  
  &__map {
    position: relative;
    
    width: 100%;
    
    background-image: url("../img/map.jpg");
    background-position: center center;
    
    //temporary
    min-height: 513px;
    background-color: #333;
  }
  
  &__adress {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    padding: 35px 28px 30px;
    
    background-color: $color-main;
    box-shadow: 0 0 35px rgba(0, 1, 5, 0.4);
  }
  
  &__sub-title {
    @include font($color-action-main, 14px);
    
    display: flex;
    margin-bottom: 15px;
    
    font-weight: 700;
    text-transform: uppercase;
  }
  
  &__adress-fieldset {
    display: flex;
    width: 100%;
  }
  
  &__adress-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &--1-of-2 {
      width: 50%;
    }
  }
  
  &__adress-textfield {
    margin: 0;
  }
}