.products {
  @include wrapper;
  
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  
  &__title {
    @include font-h2($color-second);
    
    text-align: center;
    
    @media (max-width: $screen-lg) {
      margin-top: 65px;
    }
  }
  
  &__controls {
    display: flex;
    margin: 38px 0 0;
    
    @media (max-width: $screen-lg) {
      justify-content: space-between;
    }
    
    @media (max-width: $screen-mp) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  
  &__controls-item {
    @media (min-width: $screen-lg) {
      @include margin-right(80px);
    }
  }
  
  &__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 5px;
    
    &--first {
      margin-bottom: 45px;
    }
    
    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }
  }
}