.slider {
 position: relative;
  
  &__control {
    @include react--trs-default;

    position: absolute;
    z-index: 1;

    width: 35px;
    height: 22px;
    
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    
    &--left {
      background-image: url("../img/icon-arrow-left.png");

      &:hover {
        transform: translate(-5px, 0);
      }
    }
    
    &--right {
      background-image: url("../img/icon-arrow-right.png");

      &:hover {
        transform: translate(5px, 0);
      }
    }
  }
  
  &__pagination {
    @include un-list;
    
    display: flex;
    justify-content: center;
  }
  
  &__pagination-item {
    @include margin-right(5px);

    @include react--trs-default;

    width: 15px;
    height: 15px;
    border: 2px solid $color-action-main;
    
    border-radius: 50%;
    cursor: pointer;  
    
    &:hover {
      background-color: fade-out($color-action-main, 0.4);
    }

    &--current {
      background-color: $color-action-main;

      &:hover {
      background-color: $color-action-main;
    }
    }
  }
}